[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/cglm"]
	path = vendor/cglm
	url = https://github.com/recp/cglm

[submodule "vendor/cimgui"]
	path = vendor/cimgui
	url = https://github.com/jw2476/cimgui
[submodule "vendor/cgltf"]
	path = vendor/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "vendor/nativefiledialog-extended"]
	path = vendor/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
